<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleIdentifier</key>
    <string>io.appthreat.depscan</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>depscan</string>
    <key>CFBundleVersion</key>
    <string>3.0.0</string>
</dict>
</plist>
